header{
  background-color:rosybrown;
  padding: 10px;

}
nav{
    background-color:coral;
    padding: 10px;
}
section{
    grid-column: 1/4 ;
    background-color:wheat;
    padding: 80px;
}
aside{
    grid-column: 4/5;
     background-color:goldenrod;
     padding: 10px;
}
footer{
     background-color:rebeccapurple;
     padding: 20px;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* MENU*/

.menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    background:lightseagreen;
    height: 50px;
    text-decoration: none;
}

.menu-area a:hover{
    background:lime;
    color: #fff
}

.menu-area ul{
    list-style: none;
    display: flex;
}

.menu-area li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdown-1>li{
    top: 0;
    display: block;
}

.dropdown-1 li{
    display: none;
    position: relative;
}

.dropdown-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-1 li:hover{
    display: block;
}